{% if page.previous_page or page.next_page %}
<nav class="ss-prevnext" aria-label="Page navigation">
  {% if page.previous_page %}
  <a class="ss-prevnext__link ss-prevnext__link--prev" href="{{ page.previous_page.url | url }}" rel="prev">
    <span class="ss-prevnext__direction">Previous</span>
    <span class="ss-prevnext__title">&laquo; {{ page.previous_page.title }}</span>
  </a>
  {% endif %}
  {% if page.next_page %}
  <a class="ss-prevnext__link ss-prevnext__link--next" href="{{ page.next_page.url | url }}" rel="next">
    <span class="ss-prevnext__direction">Next</span>
    <span class="ss-prevnext__title">{{ page.next_page.title }} &raquo;</span>
  </a>
  {% endif %}
</nav>
{% endif %}
